<div class="row">
  <div class="valign-wrapper">
    <form class="valign">
        <input class="white-text" id="name" type="text" ng-model="gc.currentPlayer.name" placeholder="Enter Host Name">
        <a ng-click="gc.createGame()" class="white-text" href="#">Host New Game</a>
    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="card orange darken-1">
    <div class="card-content white-text">
      <span class="card-title">Hosted by: {{ game.host }}</span>
        <input class="white-text" ng-if="gc.stagedGame._id === game._id" name="playerName" type="text" ng-model="gc.currentPlayer.name" placeholder="Your Name">
    </div>
    <div class="card-action">
      <a class="white-text" ng-if="gc.stagedGame._id !== game._id" ng-click="gc.stagedGame={ _id: game._id, players: game.players}" href="#">Join</a>
      <a class="white-text" ng-if="gc.stagedGame._id === game._id" ng-click="gc.stagedGame={}" href="#">Cancel</a>
      <a class="white-text" ng-if="gc.stagedGame._id === game._id" ng-click="gc.joinGame(game)" href="#">Confirm and Join</a>
    </div>
  </div>

</div> -->

<h1>Existing Games:</h1>

<div class="row">
  <div ng-repeat="game in gc.games" ng-if="game.open" class="col l3 m4 s12">
    <div class="card orange darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Hosted by: {{ game.host }}</span>
          <input class="white-text" ng-if="gc.stagedGame._id === game._id" name="playerName" type="text" ng-model="gc.currentPlayer.name" placeholder="Your Name">
      </div>
      <div class="card-action">
        <a class="white-text" ng-if="gc.stagedGame._id !== game._id" ng-click="gc.stagedGame={ _id: game._id, players: game.players}" href="#">Join</a>
        <a class="white-text" ng-if="gc.stagedGame._id === game._id" ng-click="gc.stagedGame={}" href="#">Cancel</a>
        <a class="white-text" ng-if="gc.stagedGame._id === game._id" ng-click="gc.joinGame(game)" href="#">Confirm and Join</a>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
  <li ng-repeat="game in gc.games" ng-if="game.open">
    <p>hosted by: {{ game.host }}</p>
    <form ng-if="gc.stagedGame._id === game._id">
      <label for="playerName">Name</label>
      <input name="playerName" type="text" ng-model="gc.currentPlayer.name">
      <button ng-click="gc.stagedGame={}">Cancel</button>
      <input ng-click="gc.joinGame(game)" type="submit" value="Confirm and Join">
    </form>
    <a ng-if="gc.stagedGame._id !== game._id" ng-click="gc.stagedGame={ _id: game._id, players: game.players}" href="#">Join</a>
    <button ng-if="gc.currentPlayer.name === game.host" ng-click="gc.deleteGame(game._id, $index)">Delete</button>
  </li>
</ul> -->