<h1>Waiting to start...</h1>

<h3 class="white-text">Host: 
  <span class="orange-text">{{ gc.currentGame.host }}</span>
</h3>

<h3 class="white-text">Players: </h3>
<ul class="collection">
  <li class="orange-text collection-item" ng-repeat="player in gc.currentGame.players">{{ player.name }}</li>
</ul>

<a class="white-text" href="#" ng-if="gc.currentPlayer.name === gc.currentGame.host" ng-click="gc.startGame(gc.currentGame)">Start Game</a>

<a class="white-text" href="#" ng-if="gc.currentPlayer.name === gc.currentGame.host" ng-click="gc.abortGame(gc.currentGame)">Abort</a>
