html body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button {
  background-color: black;
}
/*@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

a .green .button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}*/

#map {
  position: relative; 
  width: 100%; 
  height: 50%;
  border: solid black;
  border-width: 1px;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

/*.word {
  font-color: white;
}*/

.correct {
  background-color: green !important;
  fill: green !important;
}

.playerAnswer {
  background-color: blue !important;
  fill: blue !important;
}

svg {
  position: absolute;
  width: 100%
  height: 100%;
}