#map {
  position: relative; 
  width: 100%; 
  height: 50%;
  border: solid black;
  border-width: 1px;
}

body {
  height: 100%;
  width: 100%;
  background-color: hotpink;
}

.correct {
  background-color: green !important;
  stroke: green;
}

svg {
  position: absolute;
  width: 100%
  height: 100%;
}